Repository fpspecialty/scala-with-cats-ru, pull requests merged in 2020-01, with the labels that each got.

#13 type-classes/index
  translation/src/pages/type-classes/index.md
Labels: translation

#14 Intro/contributors
  translation/src/pages/intro/contributors.md
Labels: translation

#19 intro/versions
  translation/src/pages/intro/versions.md
Labels: translation

#22 Add Yandex Metrika counter to html template
  translation/src/templates/template.html
Labels: build and deployment

#25 type-classes/equal
  translation/src/pages/type-classes/equal.md
Labels: translation

#26 type-classes/summary
  translation/src/pages/type-classes/summary.md
Labels: translation

#20 intro/backers
  translation/src/pages/intro/backers.md
Labels: translation

#24 type-classes/printable
  translation/src/pages/type-classes/printable.md
Labels: translation

#16 type-classes/anatomy
  translation/src/pages/type-classes/anatomy.md
Labels: translation

#23 type-classes/instance-selection
  translation/src/pages/type-classes/instance-selection.md
Labels: translation

#17 type-classes/cats
  translation/src/pages/type-classes/cats.md
Labels: translation

#29 Rename target repo
  .github/workflows/build-book.yml
  translation/index.md
Labels: build and deployment

#21 type-classes/implicits
  translation/src/pages/type-classes/implicits.md
Labels: translation

#18 monoids/index
  translation/src/pages/monoids/index.md
Labels: translation

#27 monoids/applications
  translation/src/pages/monoids/applications.md
Labels: translation

#28 monoids/summary
  translation/src/pages/monoids/summary.md
Labels: translation

#33 Update from original
  src/pages/case-studies/validation/kleisli.md
  translation/src/pages/case-studies/validation/kleisli.md
Labels: sync with original
